@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: rgb(12, 12, 12);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}